<!DOCTYPE html>
<html>
<head>
	<title>table page</title>
</head>
<body>
	<center>
		<h2 style="color:navy;background-color:red">My Table</h2>
		<table border="4" bgcolor="yellow" bordercolor="green">
			<tr>
				<th>S.no</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Gender</th>
				<th>Age</th>
			</tr>
			<tr>
				<td>1</td>
				<td>siri</td>
				<td>tamada</td>
				<td>F</td>
				<td>24</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Giri</td>
				<td>tamada</td>
				<td>M</td>
				<td>22</td>
			</tr>
			<tr>
				<td>3</td>
				<td>vanith</td>
				<td>kamatham</td>
				<td>F</td>
				<td>25</td>
			</tr>
		</table>
	</center>
</body>
</html>